@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Mitr',sans-serif;
}

.main {
    display:flex;
}

.slider {
    width: 70vw;
}

.qr-code {
    padding:1rem;
    width : 30vw;
    height:100vh;
}

@media screen and (max-width: 1024px) {
    .main {
      display:block;
    }
    .slider {
        width:100vw;
        margin:auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        width:100vw;
    }
  }
  